Private
.vscode
Statistics_2/students.csv
Statistics_2/graduate.csv
DataViz/Hw4/DS116_Q4.csv
DataViz/Hw4/Caucasus-Barometer-2019.xlsx
DataViz/Hw3/HW3_Multivariate/WEOOct2020data.csv
DataViz/Hw3/__MACOSX/HW3_Multivariate/._WEOOct2020data.csv
DataViz/Hw3/HW3_Multivariate.zip
DataViz/Hw3/__MACOSX/HW3_Multivariate/._.DS_Store
DataViz/Hw3/HW3_Multivariate/.DS_Store
DataViz/Hw3/HW3_Multivariate/.Rhistory
DataViz/Hw4/.DS_Store
ML_GTU/data
